<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EXAMEN FINAL JEFFERSON PANTA</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/pregunta1-1" routerLinkActive="active">Pregunta 01-1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pregunta1-2" routerLinkActive="active">Pregunta 01-2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pregunta2" routerLinkActive="active">Pregunta 02</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
